/******************************************************************************/
/* Changes to Bootstrap's styles */
.navbar {
  position: fixed;
  top: 0;

  width: 100%;

  background-color: white !important;
 /* why is it grey behind*/
 z-index: 1000;
  /* To show Nav on top of the other page elements that scroll under it. */
}

.navbar > a.navbar-brand {
  /* Override to line up with Nav */
  padding-top: 0px;
  /* margin-top: -2px; */
}

/* Shift the menus over to the right */
/* Or see https://v4-alpha.getbootstrap.com/utilities/flexbox/#align-items */
.navbar > div.navbar-collapse > ul.navbar-nav {
/*  margin-left: 55%;*/
}

/* Override to use my Veggie Burger */
.navbar-light .navbar-toggler {
  border: none;
  outline: none; /* override button:focus */
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../images/menuBurger.svg);
}

.dropdown-menu {
  font-family: "HelveticaNeue-CondensedBold";
  /* Override min-width: 10rem; to fit "LEO THE CHAMELEON". */
  min-width: 11rem;
  width: 11rem;

  /* Remove the border from the menu */
  border: none;
}

/* Bootstrap adds a triangular drop-down menu icon to the right of each
   a.nav-link.dropdown-toggle (menu item). In our case this only shows up
   next to Portfolio, and disappears on the non-portfolio pages where the
   menu is not available. This causes the layout to be inconsistent.
   Here we force a transparent version of that, on all of the nav-links.
   This will be replaced by the actual icon, on the Portfolio nav-link on
   the Portfolio page. */
a.nav-link::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid transparent;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

/* Override that for "PORTFOLIO" only. */
a.nav-link.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparnt;
}

/******************************************************************************/
body {
	background-color: white;
}

/* For the Instagram and LinkedIn buttons prevent the underline from showing when focused. */
a.NoUnderline:hover {
  text-decoration: none;
}

.container {
	/*background-color:red;*/
	/*width: auto;*/
	max-width: 800px;
	/*height: 100%;*/
	margin: 0px auto;

  /* .navbar is position: fixed, so this must match the NavBar height */
  margin-top: 76px;
}

.imageTile {
 /* box-shadow: 0px 0px 10px #999;*/

  /* The .imageTileInfo DIV inside this DIV, will be position: absolute. */
  position: relative;
}

/* This overlaps the <img> and expands to take the same width and height. */
.imageTileInfoSizer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* This child div gets the same width and height and is only visible when hovered. */
.imageTileInfo {
  /* This starts as opaque */
  opacity: 0;

  /* When hovered it will transition over 1/2 second */
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;

  width: 100%;
  height: 100%;

  /* Make this a table and table cell so that we can center the text vertically. */
  display: table;
  background-color: white;

  text-align: center;
  line-height: 1em;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 40px;
  color: black;
}

.imageTileInfo:hover {
  opacity: 0.8;
}

/* Make the inner div a table cell so that we can center it vertically inside the .imageTileInfo div. */
.imageTileInfo > span {
  display: table-cell;
  vertical-align: middle;
}

/* This is only display: block on mobile. */
.imageTileInfoMobile {
  display: none;
  width: 100%;
  text-align: center;
  line-height: 1em;
  font-family: "Times new roman";
  font-size: 30px;
  color: black;
  padding-top:10px;
}

.col100{
	/*background-color:blue;*/
	width: 97%;
	margin: 10px 1%;
	float:left;
}
.col50{
 /* background-color:pink;*/
  width: 47%;
  margin: 10px 1%;
  float:left;
}
.colTwoThirds{
	/*background-color:pink;*/
	width: 60%;
	margin: 10px 1%;
	float:left;
}
.colOneThird{
	/*background-color:orange;*/
	width: 30%;
	margin: 10px 1%;
  /*  margin: 1%; */
	float:left;
}

.clear {
	clear: both;
}
.paddingLeft{
	padding-left:10%;
}
.center{
	/*margin-left:auto;
	margin-right:auto;*/
	/*	margin:auto;*/
	/*margin-left:50%;*/
	/*align-items: center;*/
	/*float:center;*/
	/*background-color:orange;*/
}
.footer{
	/*background-color:orange;*/
}

.imgSizer {
	width: 100%;
	height: auto;
}

.dropShadow{
	box-shadow: 0px 0px 10px #999
}

.hideFull{
	display:none;
}
.showFull{
	display:inherit;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
}
h2{
	font-family: 'Bungee', cursive;
	font-size:20px;
}
h3{
	font-family: 'Times New Roman', serif;
	font-size: 15px;
}
h4{
	font-family: 'Archivo Black', sans-serif;
	font-size:14px;
	text-align:center;
}
h5{
	font-family: 'Fjalla One', sans-serif;
	font-size:30px;
}
h6{
  font-family: 'Times New Roman', serif;
  font-size:20px;
  text-align:left;
}


/* Tablet */
@media only screen and (max-width: 991px){ /* 991 to match Bootstrap */
  /* Shift the menus over to the right. Make sure the PORTFOLIO submenu appears correctly. */
  .navbar > div.navbar-collapse > ul.navbar-nav {
    margin-left: 76%;
  }

  /* Stretch from two thirds to Col100 */
	.hide900{
		display:none;
	}
	.show900{
		display:inherit;
	}
	.colTwoThirds {
		/*background-color:cyan;*/
		width: 60%;
	 }
	.colOneThird {
		/*background-color:green;*/
		width: 30%;
	}
  .imageTileInfoMobile {
    display: block;
    display: none;
  }
  .imageTileInfo {
    opacity: 1;
    background-color: unset;
  }
}

/* Smartphone */
@media only screen and (max-width: 592px){ /* was 480 */
  /* Shift the menus over to the right */
  .navbar > div.navbar-collapse > ul.navbar-nav {
    margin-left: 60%;
  }
	.hide480{
			display:none;
		}
	.show480{
			display:inherit;
			clear:left;
			width:100%;
		}
	 .colOneThird {
		/*background-color:red;*/
		width: 30%; /* was 97%; */
	  }
	 .colTwoThirds{
	 	/*background-color:green;*/
		width: 60%;
	 }
  .imageTileInfoMobile {
    display: block;
    font-size: 12px; /* 26px; */
    display: none;
  }
  .imageTileInfo {
    opacity: 1;
    background-color: unset;
  }
}

/*
font-family: 'Baloo Bhaijaan', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Permanent Marker', cursive;*/

/*font-family: 'Bungee', cursive;
font-family: 'Roboto', sans-serif;*/

/*font-family: 'Fjalla One', sans-serif;
font-family: 'Contrail One', cursive;
font-family: 'Roboto Condensed', sans-serif;*/
