h1 {
  font-family: 'Times New Roman', serif;
  font-size: 15px;
}
h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 18px;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  /*padding-left:50px;*/
}
/* Footer Type*/
h4 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-size: 12px;
}

/*for right flush*/
h5 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-size: 14px;
}

.carousel-control-prev,
.carousel-control-prev:visited,
.carousel-control-prev:link,
.carousel-control-prev:active,
.carousel-control-next,
.carousel-control-next:visited,
.carousel-control-next:link,
.carousel-control-next:active {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px black;
}

/* Can only set visibility for the <div>, not the outer <a> */
.carousel-control-prev > div,
.carousel-control-next > div {
  visibility: hidden;
}

.carousel-control-prev > div > span {
  position: absolute;
  left: 10px;
}

.carousel-control-next > div > span {
  position: absolute;
  right: 10px;
}

.carousel-control-prev:hover > div,
.carousel-control-next:hover > div {
  visibility: visible;
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: unset;
  font-size: 36px;
}

.padding-top {
  padding-top: 12px;
}

/* Prevent the <body> from scrolling */
.noScroll_IGNORE {
  overflow: hidden;
}

/* Place the entire page in one wide centered column */
.fullHeight {
  /* Center this within the div.noScroll */
  margin: 0 auto;

  /* Limit the overall page width */
  max-width: 1265px;

  /* Force this to the full height of the browser window.
     Or use position: absolute; height: 100%; */
  /* height: 100vh; */

  /* Stack header/middle/footer vertically */
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
}

/* This will take the height that it needs for the Logo and Nav */
.header {
}

/* CSS Flex gives this the remaining space in the middle of the fullHeight div. */
.middle_IGNORE {
  /* Allow the contents to exceed this height and scroll to show them */
  overflow: scroll;
  
  /* From https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/,
     may be needed for other browsers. */
  min-height: 0px;

  /* For IE and Firefox: hide scrollbar. See https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Chrome and Safari: hide scrollbar */
/* .middle::-webkit-scrollbar { 
    display: none;
} */

.footer {
}

/* .flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.flexItem {
  margin: 4px;
}
.flexItem2 {
  width: 200px;
  height: 200px;
  background-color: black;
} */

/* NAV */
.navbar {
  padding-left: 0px;
}

/* #nav {
  width: 100%;
  padding-left: 0;
  padding-top: 0;
  list-style: none;
} */

/* pulls nav into a horizontal row */
/* #nav li a {
  display: block;
  float: left; 
  padding: 8px 12px;
}

#nav li a.navFirst {
  padding-left: 0;
} */

.navbar.navbar-expand-lg > div > ul > li a.nav-link {
  /* padding: 8px 12px; */
  text-decoration: none;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-size: 15px;
  color: black;
  /* No outline when focused */
  outline: 0px;
}

/* #nav li a:hover, */
.navbar.navbar-expand-lg > div > ul > li a.nav-link:hover {
  color: #cccccc;
}

/* #nav li a.selected, */
.navbar.navbar-expand-lg > div > ul > li a.nav-link.selected {
  color: #b0b0ae;
}

a.navbar-brand {
  /* No outline when focused */
  outline: 0px;
}

button.navbar-toggler {
  /* No border when not pressed */
  border: unset;
  /* No outline when focused */
  outline: 0px;
}

.col100Fill {
   width: 97%;
  height: 100px;
  margin: 1% 1%;
  float: left;
}
.col100 {
  width: 97%;
  height: auto;
  /* margin: 1% 1%; */
  float: left;
}
.col50 {
  /*background-color:green;*/
  width: 47%;
  margin: 1% 1%;
  float: left;
}
.col25 {
  /*background-color:green;*/
  width: 22.5%;
  height: 100px;
  margin: 1% 1%;
  float: left;
  background-color: #f0c7a1;
}
.clear {
  clear: both;
}

/* Back to Top arrow */
.back-to-top {
  float: right;
  display: none;
 
  /* color: black;
  line-height: 30px;
  width: 32px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer; */
}

/* .back-to-top:hover {
  color: #ddeab3;
} */

.imgSizer {
  width: 100%;
  height: auto;
}

.NoUnderline {
  text-decoration: none;      
}

.hideFull{
  display:none;
}
.showFull{
  display:inherit;
}

/* TABLET */
@media only screen and (max-width: 991px) { 
  .hide900 {
    display:none;
  }
  .show900 {
    display:inherit;
  }
  .fullHeight {
    max-width: 991px;
    /* margin: 0px auto;
    margin-top: 100px; */
  }
  .col50 {
    /*background-color:blue;*/
    width: 47%;
    height: auto;
    margin: 1% 1%;
    float:left;
  }
  h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
  }
}

/* IPHONE */
@media only screen and (max-width: 500px) {
  .hide500 {
    display:none;
  }
  .show500{
    display:inherit;
    /* clear:left; */
    width:100%;
  }
  .fullHeight {
    /*background-color:green;*/
    max-width: 500px;
    /* margin: 0px auto;
    margin-top: 80px; */
  }
  .col50{
    background-color:red;
    width: 45%;
    height: 30px;
    margin: 1% 1%;
    float:left;
  }
}

@media only screen and (max-width: 400px) {
  /* #nav li a {
    padding-right: 4px;
    font-size: 14px;
  } */
  /* .fullHeight {
    padding-left: 0px;
    padding-right: 0px;
  } */
  /* div.header > div.col100 {
    padding-left: 6px;
    padding-right: 6px;
  }
  div.header > div.col100 > ul.nav {
    display: flex;
    justify-content: space-between;
  } */
}
